.dex-top {
    background-image: url("../img/pokedex-top.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
}


.dex-bottom {
    background-image: url("../img/pokedex-bottom.png");
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    display: block;
}

.off {
    background-color: var(--darkblack) !important;
    background-image: none !important;
}

.screen-on-top {
    background-image: url("../img/2dsboot.jpg") !important;
    background-repeat: no-repeat !important;
}

.screen-on-bottom {
    background-image: url("../img/2dsbootbot.png") !important;
    background-repeat: no-repeat !important;
}


.power-led-off {
    left: 90%;
    top: 85%;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #444;
    border-radius: 50%;
    border: 2px solid #222;
}

.power-led-on {
    left: 90%;
    top: 85%;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00aaff;
    box-shadow: 0 0 6px #00aaff;
    border-radius: 50%;
    border: 2px solid #222;
}
