:root {
    /*fonts*/
    --smallfs: 0.6rem;
    --mediumfs: 0.8rem;
    --largefs: 1rem;


    /*colors*/
    --black: #1A1A1A;
    --darkblack: #000000;
    --transparentblack: rgb(0 0 0 / 40%);

    --blue: #20529b;
    --white: rgb(255 255 255);
    --transparentwhite: rgb(255 255 255 / 30%);
}
